rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if isAuthenticated();
      allow create, delete: if isTheSameUserOrAdmin(uid);
      match /tokens/{tokenId} {
        allow read, create, delete: if isTheSameUserOrAdmin(uid);
      }
      match /followers/{followerUid} {
        allow create, delete: if isTheSameUserOrAdmin(followerUid);
      }
      match /posts/{postId} {
        allow read: if isAuthenticated();
        allow create, delete: if isTheSameUserOrAdmin(uid);
        match /postLikes/{activeUid} {
          allow create, delete: if isTheSameUserOrAdmin(activeUid);
        }
      }
    }
  }
  function isAuthenticated() {
  return request.auth != null;
  }
  function isTheSameUserOrAdmin(uid) {
    return request.auth.uid == uid || isAdmin();
  }

  function isAdmin() {
    return request.auth.uid == "3xaiU7NZGRTgSpbnYyLKGhEQmQM2"
  }
}