rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if isAuthenticated();
      allow update: if false;
      allow create, delete: if isTheSameUser();
      match /token/{tokenId} {
        allow read, create, delete: if isTheSameUser(uid);
      }
      match /followers/{followerUid} {
        allow create, delete: if isTheSameUser(followerUid);
      }
    }
  }
  function isAuthenticated() {
  return request.auth != null;
  }
  function isTheSameUser(uid) {
    return request.auth.uid == uid;
  }
}